<mat-toolbar class="topbar" role="banner">
  <div class="topbar__inner">
    <div class="brand">
      <img class="brand__logo" [src]="logoUrl" alt="Escudo" crossorigin="anonymous" />
      <div class="brand__text">
        <div class="brand__title institucional">ESCUELA NAVAL DE CADETES</div>
        <div class="brand__subtitle institucional">ALMIRANTE PADILLA</div>
        <div class="brand_separador"></div>
        <div class="brand__motto honor">Honor y Tradición</div>
      </div>
    </div>
  </div>
</mat-toolbar>
