<!--Seleccionar Fuerza-->
<div class="reg-field-label">
  <mat-icon>shield</mat-icon>
  <span>Fuerza</span>
</div>
<mat-form-field appearance="outline" class="reg-field">
  <mat-select [formControl]="forceMCtrl" placeholder="Seleccione fuerza">
    <!-- @for (group of filteredCategorieGroups; track group){
    
   } -->
    @for (f of forces; track f.value) {
      <mat-option [value]="f.value">{{ f.label }}</mat-option>
    }
  </mat-select>
  @if (forceMCtrl.touched && forceMCtrl.hasError('required')) {
    <mat-error>La fuerza es requerida</mat-error>
  }
</mat-form-field>

<!--Grado-->

@if (forceMCtrl.value === 'armada') {
  <div class="reg-field-label">
    <mat-icon>star</mat-icon>
    <span>Categoría</span>
  </div>

  <mat-form-field appearance="outline" class="reg-field">
    <mat-select [formControl]="categorieCtrl">
      @for (group of categorieGroups; track group.name) {
        <mat-optgroup [label]="group.name">
          @for (categoria of group.categoria; track categoria.value) {
            <mat-option [value]="categoria.value">
              {{ categoria.label }}
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>
} @else if (forceMCtrl.value) {
  <div class="reg-field-label">
    <mat-icon>star</mat-icon>
    <span>Categoría</span>
  </div>

  <mat-form-field appearance="outline" class="reg-field">
    <mat-select [formControl]="categorieCtrl">
      @for (categoria of getCategories(forceMCtrl.value); track categoria.value) {
        <mat-option [value]="categoria.value">
          {{ categoria.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
}

<!--Grado-->
<div class="reg-field-label">
  <mat-icon>military_tech</mat-icon>
  <span>Grado</span>
</div>

<mat-form-field appearance="outline" class="reg-field">

  <mat-select [formControl]="gradesCtrl">

    @for (grado of getgrades(categorieCtrl.value ?? ''); track grado.value) {

      <mat-option [value]="grado.value">
        {{ grado.label }}
      </mat-option>

    }

  </mat-select>

</mat-form-field>
